<div class="container p-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md4 mx-auto">
            <h2>Lista De Productos</h2>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{#if is_admin}}
                            <h4>Bienvenido, Admin: {{username}}</h4>
                        {{else}}
                            <h4>Bienvenido, Usuario: {{username}}</h4>
                        {{/if}}
                    </ul>
                    <ul class="pagination">
                        <a href="http://localhost:8080/logout">
                            <button type="button" class="btn btn-danger">Cerrar Sesion</button>
                        </a>
                    </ul>
                </nav>

                <table class="table" >
                    <thead>
                        <tr>
                            <th scope="col" hidden>Id</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Categoria</th>
                        </tr>
                    </thead>
                    <tbody id="result-rows">
                        {{#each products}}
                            <tr id="product-{{this._id}}">
                                <th scope="row" hidden>{{this._id}}</th>
                                <td>{{this.title}}</td>
                                <td>{{this.description}}</td>
                                <td>{{this.code}}</td>
                                <td>{{this.price}}</td>
                                <td>{{this.status}}</td>
                                <td>{{this.stock}}</td>
                                <td>{{this.category}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{#if hasPrevPage}}
                            <li class="page-item"><a class="page-link" href="{{prevPage}}">Previous</a></li>
                        {{else}}
                            <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                        {{/if}}

                        {{#if hasNextPage}}
                            <li class="page-item"><a class="page-link" href="{{nextPage}}">Next</a></li>
                        {{else}}
                            <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
                        {{/if}}
                    </ul>
                </nav>
        </div>
    </div>
</div>
